#bigbox {
    display: flex;
    flex-wrap: wrap;
    width: 324px;
    height: 400px;
    background-color:white;
    
}
#bigbox img{
    width: 160px;
    height: 198px;
    border: 1px black solid;
}

#imagebox{
    display: inline-flex;
    width: 640px;
    height:198px;
    background-color: aliceblue;
}
#imagebox img{
    height: 198px;
    width: 160px;
}

