#icon {
	width: 30px;
	cursor: pointer;
	float: right;
	margin: 8px;
	margin-top: 18px;
}

body {
    background-color:var(--background-color);
    color: var(--text-color);
    text-align: center;
    font-size: 40px;
    border-radius: 20px;
    padding: 18px;
}

#board{
    display: flex;
    flex-wrap: wrap;
    width: 324px;
    height: 402px;
    border: 2px solid black;
    margin: auto;
}

#board img{
    height: 199px;
    width: 160px;
    border: .5px solid purple;
}


#pieces{
    display: flex;
    width:640px;
    height: 200px;
    border: 2px solid black;
    margin: auto;
}

#pieces img{
    width: 160px;
    height: 199px;
}

:root{
    --background-color: #f5f5dc;
    --text-color:green;
}

.dark-mode{
    --background-color:#1d2a35;
    --text-color:red;
}
.navigation-bar{
	float: right;
	
}
.navigation-bar-button{
	margin-right: 10px;
	border-radius: 12px;
	background-color: transparent;
	border-color: transparent;
	color: var(--text-color);
	font-style: italic;
	font-size: 18px;
	height: 35px;
	width:auto;
	transition: background-color 1.5s ease, color 0.8s ease;
	
}

.navigation-bar-button:hover{
	background-color: var(--text-color);
    border-color: transparent;
	color: var(--background-color);
	transition: 1s;
}