
:root {
	/*? theme change */

	transition: background-color 1s ease, color 1.5s ease;
	--background-color: #f5f5dc; /*? light mode setting */
	--heading-color: green;
	--text-color: green;
    --accordion-background:#AAC8A7;
    --accordion-text: green;
}
.dark-mode {
	--background-color: #1d2a35; /*? dark mode setting */
	--heading-color: lime;
	--text-color: white;
	--accordion-background:rgb(109, 221, 109);
	--accordion-text:lime;
}

.heading{
    color: var(--heading-color);
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	text-align: justify;
	font-size: 25px;
	border-radius: 20px;
	padding: 0px;
	margin: 00px;
}
#icon {
	width: 30px;
	cursor: pointer;
	float: right;
	margin: 8px;
	margin-top: 20px;
}

.navigation-bar {
	float: right;
}
.navigation-bar-button {
	margin-right: 10px;
	border-radius: 12px;
	background-color: transparent;
	border-color: transparent;
	color: var(--text-color);
	font-style: italic;
	font-size: 18px;
	height: 35px;
	width: auto;
	margin-top: 20px;
	transition: background-color 1.5s ease, color 0.8s ease;
}

.navigation-bar-button:hover {
	background-color: var(--text-color);
	border-color: transparent;
	color: var(--background-color);
	transition: 1s;
}

.accordion-div{
    clear: both;
    
}
.accordion {
    background-color: var(--accordion-background);
    color:var(--text-color);
    cursor: pointer;
    padding: 18px;
    width: 200px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion-p{
    color: var(--accordion-text);
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

