@import url("https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600&display=swap");
body {
	background-color: var(--background-color);
	color: var(--text-color);
	text-align: justify;
	font-size: 30px;
	border-radius: 20px;
	/* padding: 18px; */
	margin: 0px;
}

#icon {
	width: 30px;
	cursor: pointer;
	float: right;
	margin: 8px;
	margin-top: 20px;
}

:root {
	transition: background-color 1s ease, color 1.5s ease;
	--background-color:#FFF1DC; /*? light mode setting */
	--heading-color: green;
	--text-color: green;
	--profile-background:#3A98B9;
}
.dark-mode {
	--background-color: #1d2a35; /*? dark mode setting */
	--heading-color: lime;
	--text-color: white;
	--profile-background: #ff574a;
}

.navigation-bar {
	float: right;
}

.navigation-bar a{
	text-decoration: none;
}
.navigation-bar-button {
	margin-right: 10px;
	border-radius: 12px;
	background-color: transparent;
	border-color: transparent;
	color: var(--text-color);
	font-style: italic;
	font-size: 18px;
	height: 35px;
	width: auto;
	margin-top: 20px;
	transition: background-color 1.5s ease, color 0.8s ease;
}

.navigation-bar-button:hover {
	background-color: var(--text-color);
	border-color: transparent;
	color: var(--background-color);
	transition: 1s;
}

/*? profile card */

.container {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile-box {
	background: var(--profile-background);
	text-align: center;
	padding: 40px 90px;
	color: #fff;
	position: relative;
	border-radius: 20px;
}

.container .profile-box .profile-pic {
	width: 150px;
	border-radius: 50%;
	background: #fff;
	padding: 6px;
	margin-top: 40px;
}

.menu-icon {
	width: 25px;
	position: absolute;
	left: 40px;
	top: 40px;
}
.setting-icon {
	width: 25px;
	position: absolute;
	right: 40px;
	top: 40px;
}

.social-media a{
	text-decoration: none;
}
.social-media img {
	width: 30px;
	position: relative;
	padding: 10px;
}

.profile-bottom {
	background: #fff;
	color: #999;
	padding: 60px 0;
	margin-right: -90px;
	margin-left: -90px;
	margin-bottom: -40px;
	border-radius: 20px;
}

.profile-bottom img {
	width: 15px;
	margin-top: 15px;
	cursor: pointer;
}

.profile-box button {
	background: #fff;
	color: #ff574a;
	border: none;
	outline: none;
	box-shadow: 0 5px 10px rgba(244, 67, 54, 0.5);
	padding: 15px 60px;
	border-radius: 30px;
	margin-bottom: -25px;
	cursor: pointer;
	font-weight: 600;
	font-size: 16px;
}

.profile-box h3 {
	font-size: 22px;
	margin-top: 20px;
	font-weight: 500;
}

/*? pagination */
.pagination{
	text-align: right;
	margin-top: -100px;
}


.pagination a{
	color:var(--text-color);
	padding:8px 16px ;
	text-decoration: none;
	transition: background-color .3s;
	font-size: 15px;

}

.pagination a.active{
	background-color: grey;
	color:var(--text-color);
}

.pagination a:hover:not(.active) {
	background-color:#a9a7a7;
}



