body {
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    font-size: 50px;
    border-radius: 20px;
    padding: 18px;
}

button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border-radius: 10px;
    font-size: 22px;
    border: 0px;
    height: 50px;
    width: 200px;    
}
.button-hover:hover{
    background-color: var(--button-text-color);
    color: var(--button-background-color);
}

#icon{
    float: right;
    height: 30px;
}

:root{
    --background-color:#f5f5dc;
    --text-color: #015701;
    --button-background-color: #015701;
    --button-text-color:white;
}

.dark-mode{
    --background-color:darkslategrey;
    --text-color: orangered;
    --button-background-color: orangered;
    --button-text-color:white;
}


.navigation-bar{
	float: right;
	
}
.navigation-bar-button{
	margin-right: 10px;
	border-radius: 12px;
	background-color: transparent;
	border-color: transparent;
	color: var(--text-color);
	font-style: italic;
	font-size: 18px;
	height: 35px;
	width:auto;
	transition: background-color 1.5s ease, color 0.8s ease;
	
}

.navigation-bar-button:hover{
	background-color: var(--text-color);
    border-color: transparent;
	color: var(--background-color);
	transition: 1s;
}